/* CSS Reset --> */
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/* CSS Reset <-- */

@font-face {
  font-family: "Figtree_Normal";
  src: url("./assets/fonts/Figtree-VariableFont_wght.ttf");
}

:root {
  --yellow: hsl(47, 88%, 63%);
  --white: hsl(0, 0%, 100%);
  --grey: hsl(0, 0%, 50%);
  --black: hsl(0, 0%, 7%);

  font-family: "Figtree_Normal";
}

body {
  border: 1px solid red;
  height: 100vh;
  display: grid;
  place-items: center;
  background-color: var(--yellow);
}

.card {
  border: 1px dashed blue;
  width: 300px;
  background-color: var(--white);
  padding: 1em;
  border-radius: 20px;
}

.card-image {
  border: 2px dashed black;
  margin-bottom: 1em;
}

.card-metadata {
  border: 1px dashed red;
  font-size: 0.6rem;
}

.card-metadata label {
  display: inline-block;
  margin-bottom: 0.8em;
  background-color: var(--yellow);
  padding: 0.35em 0.9em;
  border-radius: 2px;
  font-weight: 900;
}

.card-metadata p {
  font-weight: 600;
}
